// Montserrat

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

// Open Sans

@font-face {
  font-family: 'Open Sans';
  src: url('~assets/fonts/OpenSans/OpenSans-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~assets/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~assets/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}
