// Colors
$primary-color: #b41529;
$blue: #15AAB4;
$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #828282;
$gray4: #BDBDBD;
$gray5: #E0E0E0;
$gray6: #F2F2F2;
$green: #18B415;
$green2: #09CD6F;
$yellow: #B1B415;
$red: #EB5757;
$red2: #CD3809;

// Fonts
$Montserrat: ('Montserrat', sans-serif);
$Open-Sans: ('Open Sans', sans-serif);

// Metrics
$input-padding: 20px;
$container-padding: 30px;
